<div class="modal-body">
    <form name="urlModalForm" ng-model="modalForm" class="modal-form-input"
          novalidate>
        <div class="form-group">
            <label for="pubmed-url" class="control-label url-label">
                PubMed URL
            </label>
            <span class="url-error-msg"
                  ng-show="urlModalForm.pubMedUrl.$error.url">
                Not a valid url!
            </span>
            <input name="pubMedUrl" id="pubmed-url" type="url"
                   class="form-control"
                   ng-model="urls.pubMedUrl" url-prefix/>
        </div>
        <div class="form-group">
            <label for="data-url" class="control-label url-label">
                Data URL
            </label>
            <span class="url-error-msg"
                  ng-show="urlModalForm.dataUrl.$error.required">
                    Data URL is required!
                </span>
            <span class="url-error-msg"
                  ng-show="urlModalForm.dataUrl.$error.url">
                Not a valid url!
            </span>
            <input name="dataUrl" id="data-url" type="url" class="form-control"
                   ng-model="urls.dataUrl" url-prefix required/>
        </div>
        <div class="form-group">
            <label for="metadata-url" class="control-label url-label">
                Metadata Documentation URL
            </label>
            <span class="url-error-msg"
                  ng-show="urlModalForm.metadataUrl.$error.url">
                Not a valid url!
            </span>
            <input name="metadataUrl" id="metadata-url" type="url"
                   class="form-control" ng-model="urls.metadataUrl"
                   url-prefix />
        </div>
        <div class="form-group">
            <label for="qc-url" class="control-label url-label">
                QC Documentation URL
            </label>
            <span class="url-error-msg"
                  ng-show="urlModalForm.qcDocumentUrl.$error.url">
                Not a valid url!
            </span>
            <input name="qcDocumentUrl" id="qc-url" type="url"
                   class="form-control" ng-model="urls.qcDocumentUrl"
                   url-prefix />
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary"
            ng-click="ok(urlModalForm.dataUrl.$valid);">
        Update
    </button>
    <button type="button" class="btn btn-danger" ng-click="cancel();">
        Cancel
    </button>
</div>
