<div class="intro-banner" ng-show="atHome">
  <div class="container">
    <div class="home-block-wrapper">
      <div class="home-block c-block">
        <h3 class="block-title c-block-title">CENTERS</h3>
        <p class="block-info">
          Learn more about the organizations and institutions that make up the NIH LINCS Program
        </p>
        <button class="btn block-btn text-center">View Centers</button>
      </div>
      <div class="home-block dr-block">
        <h3 class="block-title dr-block-title">DATA RELEASES</h3>
        <p class="block-info">
          Access LINCS data and view schedule of upcoming data releases
        </p>
        <button class="btn block-btn text-center">Access Data</button>
      </div>
      <div class="home-block td-block">
        <h3 class="block-title td-block-title">TOOLS &amp; DATABASES</h3>
        <p class="block-info">
          Learn more about the tools and databases created and used by LINCS centers
        </p>
        <button class="btn block-btn text-center">View Tools and Databases</button>
      </div>
    </div>
  </div>
</div>
