<div class="col-sm-12">
    <h4 class="text-center assay-title">
        {{form.datasetName}}
    </h4>

    <p class="col-sm-12">{{form.description}}</p>

    <div class="col-sm-12">
        <h5>Cell Lines</h5>
        <ul class="list-inline">
            <li ng-repeat="line in form.metadata.cellLines">
                {{line.name}}
            </li>
        </ul>
    </div>
    <div class="col-sm-12">
        <h5>Perturbagens</h5>
        <ul class="list-inline">
            <li ng-repeat="pert in form.metadata.perturbagens">
                {{pert.name}}
            </li>
        </ul>
    </div>
    <div class="col-sm-12">
        <h5>Readouts</h5>
        <ul class="list-inline">
            <li ng-repeat="rOut in form.metadata.readouts">
                {{rOut.name}}
            </li>
        </ul>
    </div>
    <div class="col-sm-12">
        <h5>Release Dates</h5>
        <ul class="list-inline">
            <li ng-repeat="(level,date) in form.releaseDates"
                ng-if="date !== '' && level !== 'upcoming'">
                <strong class="info-release-lvl">
                    {{level}}:
                </strong>
                {{date | date:'MM-dd-yyyy'}}
            </li>
        </ul>
    </div>
    <div class="col-sm-12">
        <h5>URLs</h5>
        <ul class="list-inline">
            <li ng-repeat="(label,url) in form.urls"
                ng-if="url !== ''">
                <strong class="info-release-lvl">
                    {{label}}:
                </strong>
                <a ng-href={{url}}>{{url}}</a>
            </li>
        </ul>
    </div>
</div>