<div class="container">
  <div id="footer">
    <div class="thin-divider">
      <span class="green"></span>
      <span class="teal"></span>
      <span class="orange"></span>
      <span class="teal"></span>
      <span class="green"></span>
    </div>
    <div class="container footer-content">
      <div class="row">
        <ul class="footer-nav">
          <li class="col-sm-4 footer-col footer-about">
            <h4 class="footer-head">
              About
            </h4>
            <p>
              The LINCS portal is a source of information for the research community and general
              public about the LINCS project.
              <a href="">Read More</a>
            </p>
          </li>
          <li class="col-xs-6 col-sm-4 footer-col site-map">
            <h4 class="footer-head">
              Site Map
            </h4>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <a ui-sref="dsgc">DSGCs</a>
                <a ui-sref="dcic">DCIC</a>
                <a ui-sref="community">Community</a>
                <a ui-sref="news">News</a>
              </div>
              <div class="col-xs-12 col-sm-6">
                <a ui-sref="publications">Publications</a>
                <a ui-sref="releasesHome">Data</a>
                <a ui-sref="dataRelPol">DR Policy</a>
                <a ui-sref="toolsDatabases">Tools</a>
              </div>
            </div>
          </li>
          <li class="col-xs-6 col-sm-4 footer-col">
            <h4 class="footer-head">
              Get in Touch
            </h4>
            <ul class="social-icons list-inline">
              <li class="col-xs-12 col-sm-4 text-center">
                <a href="https://twitter.com/BD2KLINCSDCIC">
                  <span class="icon icon-twitter">
                    <svg viewBox="0 0 16 16">
                      <path fill="#828282" d="M15.969,3.058c-0.586,0.26-1.217,0.436-1.878,0.515c0.675-0.405,1.194-1.045,1.438-1.809
                c-0.632,0.375-1.332,0.647-2.076,0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806,0-3.27,1.464-3.27,3.27 c0,0.256,0.029,0.506,0.085,0.745C5.163,5.404,2.753,4.102,1.14,2.124C0.859,2.607,0.698,3.168,0.698,3.767 c0,1.134,0.577,2.135,1.455,2.722C1.616,6.472,1.112,6.325,0.671,6.08c0,0.014,0,0.027,0,0.041c0,1.584,1.127,2.906,2.623,3.206 C3.02,9.402,2.731,9.442,2.433,9.442c-0.211,0-0.416-0.021-0.615-0.059c0.416,1.299,1.624,2.245,3.055,2.271 c-1.119,0.877-2.529,1.4-4.061,1.4c-0.264,0-0.524-0.015-0.78-0.046c1.447,0.928,3.166,1.469,5.013,1.469 c6.015,0,9.304-4.983,9.304-9.304c0-0.142-0.003-0.283-0.009-0.423C14.976,4.29,15.531,3.714,15.969,3.058z"></path>
                    </svg>
                  </span>
                </a>
              </li>
              <li class="col-xs-12 col-sm-4 text-center">
                <a href="https://www.youtube.com/channel/UC88h_MIO1LP7Jv52VQ4qKkg">
                  <span class="icon icon-youtube">
                    <svg viewBox="0 0 191.5358 134.25108">
                      <defs id="defs3" />
                      <sodipodi:namedview inkscape:document-units="mm" id="base" pagecolor="#ffffff" bordercolor="#666666"
                      borderopacity="1.0" inkscape:pageopacity="0.0" inkscape:pageshadow="2"
                      inkscape:zoom="1.979899" inkscape:cx="171.00263" inkscape:cy="45.260689"
                      inkscape:current-layer="layer1" showgrid="false" units="mm"
                      borderlayer="false" fit-margin-top="0" fit-margin-left="0"
                      fit-margin-right="0" fit-margin-bottom="0" inkscape:window-width="1680"
                      inkscape:window-height="988" inkscape:window-x="-8" inkscape:window-y="-8"
                      inkscape:window-maximized="1" />
                      <metadata id="metadata4">
                        <rdf:RDF>
                          <cc:Work rdf:about="">
                            <dc:format>image/svg+xml</dc:format>
                            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                            <dc:title/>
                          </cc:Work>
                        </rdf:RDF>
                      </metadata>
                      <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1" transform="translate(-65.660673,-76.838263)">
                        <rect style="fill:#ffffff;fill-opacity:1;stroke:#009f66;stroke-width:4.56684542;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;display:inline"
                        id="rect11913" width="79.489227" height="84.126099" x="128.14583"
                        y="103.21936" />
                        <path style="fill:#c30000;fill-opacity:1;stroke:none;display:inline" d="M 88.769473,210.07092 C 70.46443,206.25356 65.77979,193.30613 65.664036,146.21191 c -0.08175,-33.26749 1.302997,-44.57727 6.793137,-55.48172 4.257365,-8.4559 9.379752,-11.13394 24.298601,-12.70357 14.483846,-1.52383 91.454506,-1.60101 122.050786,-0.12239 42.66067,2.6987 37.80969,22.66573 38.28738,62.25895 0.49543,41.04785 -0.61672,49.98032 -7.52498,60.4457 -6.84542,10.37053 -4.21796,10.04242 -83.53744,10.4317 -40.27349,0.19767 -73.674501,-0.22157 -77.262047,-0.96971 z m 103.875407,-66.4385 c -17.8869,-11.87902 -37.00274,-24.46138 -46.69493,-30.43341 0.43172,16.63908 0.0684,46.90189 0.32529,61.81138 14.18619,-8.75895 35.77919,-23.43105 46.36964,-31.37797 z"
                        id="path11905" inkscape:connector-curvature="0" sodipodi:nodetypes="cssscccscccccc"
                        />
                      </g>
                    </svg>
                  </span>
                </a>
              </li>
              <li class="col-xs-12 col-sm-4 text-center">
                <a href="mailto:michael.mcdermott@mssm.edu?Subject=[Questions/Comments regarding lincsproject.org]">
                  <span class="icon icon-gmail">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1" viewBox="0 0 45555 33097">
                      <g>
                        <path fill="#E75A4D" d="M41608 250c2030,0 3691,1661 3691,3691l0 1070 -5128 3663 -17458 12026 -17458 -12148 0 24295 -1314 0c-2030,0 -3691,-1661 -3691,-3691l0 -25214c0,-2030 1661,-3691 3691,-3691l18772 13918 18894 -13918z"
                        />
                        <polygon fill="#E7E4D7" points="5255,8552 5255,32847 40172,32847 40172,8674 22713,20700 "
                        />
                        <polygon fill="#B8B7AE" points="5255,32847 22713,20700 22634,20644 5255,32580 " />
                        <polygon fill="#B7B6AD" points="40172,8674 40182,32847 22713,20700 " />
                        <path fill="#B2392F" d="M45299 5011l6 24148c-88,2684 -1251,3642 -5123,3687l-10 -24173 5128 -3663z"
                        />
                        <polygon fill="#F7F5ED" points="3941,250 22713,14168 41608,250 " />
                      </g>
                    </svg>
                  </span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p>
          <span>©2015, LINCS Program. All rights reserved. Funded by
            <a href="http://commonfund.nih.gov/lincs/" target="_blank">The NIH Common Fund</a>
          </span>
        </p>
        <p>
          <span>Developed by the
            <a href="http://lincs-dcic.org/" target="_blank">BD2K-LINCS DCIC</a>
          </span> |
          <span>v1.8.5</span>
        </p>
      </div>
    </div>
  </div>
</div>
