<table class="text-center legend col-sm-10 col-sm-offset-1 col-xs-12">
    <tr>
        <td class="legend-color" id="awaiting-approval"></td>
        <td class="legend-color" id="approved"></td>
        <td class="legend-color" id="selected"></td>
        <td class="legend-color" id="needs-edit"></td>
        <td class="legend-color" id="released"></td>
    </tr>
    <tr>
        <td>Awaiting Approval</td>
        <td>Approved</td>
        <td>Selected</td>
        <td>Needs Attention</td>
        <td>Released</td>
    </tr>
</table>