@import '../base';

.headline-info {
  font-weight: 400 !important;
  span {
    font-weight: 700 !important;
    color: $color-primary-dark;
  }
}

.headline-info-margins {
  @extend .headline-info;
  margin: 0 0 20px 0;
  span {
    font-weight: 700 !important;
    color: $color-primary-dark;
  }
}

.intro {
  display: inline-block;
  margin: 100px 0;
  padding-bottom: 100px;
  border-bottom: 1px solid #ddd;
}

#nih-cube {
  background: url('../images/NIH-Cube.png') no-repeat center;
  background-size: cover;
  margin: 20px auto 0 auto;
  width: 239px;
  height: 200px;
}

.news-wrapper {
  background-color: $color-secondary;
  margin-bottom: 200px;
}

.news {
  padding-bottom: 40px;
  p {
    margin: 0;
  }
}

.news {

}

.questions {
  margin: 20px 0;
}
