@import '../base';
.headline-info {
  font-weight: 400 !important;
  span {
    font-weight: 700 !important;
    color: $color-primary-dark;
  }
}

.headline-info-margins {
  @extend .headline-info;
  margin: 0 0 20px 0;
  span {
    font-weight: 700 !important;
    color: $color-primary-dark;
  }
}

.intro, .events {
  display: inline-block;
  padding-bottom: 100px;
}

.intro {
  margin: 100px 0;
  border-bottom: 1px solid #ddd;
}

.cube-wrapper {
  float: right;
  @media all and (max-width: 992px) {
    float: left;
  }
}

#nih-cube {
  background: url('../images/NIH-Cube.png') no-repeat center;
  background-size: cover;
  margin: 20px auto 0 auto;
  width: 239px;
  height: 200px;
  @media all and (max-width: 992px) {
    margin-top: 0px;
  }
}

$block-height: 350px;

.scroll-wrapper {
  margin-top: 0px;
}

.events-scrollable {
  margin: 0 auto 0 auto;
  height: $block-height;
  padding: 0 40px 0 40px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

}

.items {
  animation: scroll 20s infinite;
  // margin-top: -300px;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes scroll {
  0% {   margin-top: 0; opacity: 1; }
  19% {  margin-top: 0; }
  25% {  margin-top: -1 * $block-height; }
  44% {  margin-top: -1 * $block-height; }
  50% {  margin-top: -2 * $block-height; }
  69% {  margin-top: -2 * $block-height; }
  75% {  margin-top: -3 * $block-height; }
  94% {  margin-top: -3 * $block-height; opacity: 1; }
  95% { opacity: 0; }
  99% { opacity: 0; }
  100% { margin-top: 0; opacity: 1; }
}

.news {
  padding-top: 50px;
  display: inline-block;
  height: $block-height;
  width: 100%;
  margin: 0 auto;
  p {
    margin: 0;
  }
}

.news-date {
  color: white;
  background-color: $color-green;
  margin: 0;
  padding: 10px 0;
  box-shadow: 0 0 5px 0 $color-green;
}

.news-inner {
  padding: 10px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .52);
}

.news-title {
  color: $color-primary;
}

.news-type {
  margin-top: 20px;
}

.questions {
  margin: 20px 0;
}
