@import '../base';

.search-count {
  border-bottom: 1px solid #ddd;
  margin-bottom: 19px;
}

.home-top {
  min-height: 330px;
}

.squares {
  background-color: $color-secondary;
  padding: 20px 20px;
}

.home-sq {
  background-color: white;
  width: 100%;
  padding: 1px 15px 30px 15px;
  min-height: 300px;

  box-shadow: 0 0 3px 0 $color-primary-dark;

  .glyphicon {
    margin-left: 10px;
  }

  ul {
    list-style: none;
    margin-left: -20px;
  }
  a, p {
    font-size: 14px;
    height: 60px;
  }

  button {
    font-size: 16px;
    font-weight: 700;
    top: 10px;
    text-align: center;
  }

  .home-sq-title {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid;
  }
}

.cons-sq {
  a {
    &:hover {
      color: $color-primary-dark;
    }
  }
  button {
    top: 54px;
    color: white;
    background-color: $color-primary-dark;
    &:hover {
      color: $color-secondary;
    }
  }

  .cons-sq-title {
    color: $color-primary-dark;
    border-color: $color-primary-dark;
  }
}

.center-sq {
  a {
    &:hover {
      color: $color-secondary;
    }
  }
  button {
    color: white;
    background-color: $color-secondary;
    &:hover {
      color: $color-primary-dark;
    }
  }

  .center-sq-title {
    color: $color-secondary;
    border-color: $color-secondary;
  }
}

.dr-sq {
  a {
    &:hover {
      color: $color-teal;
    }
  }
  button {
    color: white;
    background-color: $color-teal;
    &:hover {
      color: $color-secondary;
    }
  }

  .dr-sq-title {
    color: $color-teal;
    border-color: $color-teal;
  }
}

.td-sq {
  a {
    &:hover {
      color: $color-orange;
    }
  }
  button {
    color: white;
    background-color: $color-orange;
    &:hover {
      color: $color-primary-dark;
    }
  }

  .td-sq-title {
    color: $color-orange;
    border-color: $color-orange;
  }
}

.intro {
  position: relative;
  z-index: 10000;
  box-shadow: 0 0 10px 0 $color-primary-dark;
  background-color: $color-primary-dark;
  padding: 20px 0;

  h3 {
    color: white;
    padding-bottom: 5px;
    border-bottom: 1px solid $color-primary-light;
    span {
      font-weight: 700 !important;
      color: $color-primary-light;
    }
  }

  p {
    font-size: 16px;
    color: white;
  }

  a {
    color: $color-orange;
    font-weight: 700;
    &:hover {
      color: $color-orange;
    }
  }
}

.news-events {
  padding-top: 20px;
  background-color: $color-secondary;
}

.events-banner {
  color: white;
  background-color: $color-primary-dark;
  box-shadow: 0 0 2px 0 $color-primary-dark;
  padding: 20px;
  margin: 0 0 40px 0;
}

.news-events-inner {
  background-color: $color-secondary;
}

$block-width: 280px;
$num-blocks: 4;

.events {
  padding-left: 15px;
  padding-right: 15px;

  @media (max-width: 992px) {
    .event:last-child {
      margin-bottom: 180px;
    }
  }
}

.scroll-items {
  // width: $block-width * $num-blocks;
  // animation-delay: 10s;
  // animation: horizscroll 30s infinite;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes horizscroll {
  0% {   margin-left: 0; }
  25% {  margin-left: -1 * $block-width; }
  50% {  margin-left: -2 * $block-width; }
  75% {  margin-left: -3 * $block-width; }
  80% {  margin-left: 0; }
  100% { margin-left: 0; }
}

.event {
  margin-bottom: 40px;
}

.date-block {
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
  padding: 0px;
  float: left;
  color: white;
  background-color: $color-teal;
  box-shadow: -2px 0 1px 0 $color-teal;

  h4 {
    color: white;
    margin: 0;
    line-height: 25px;
  }
}

.event-info {
  background-color: white;
  min-height: 150px;
  margin-left: 50px;
  padding: 10px;
  box-shadow: 0 0 3px 0 $color-primary-dark;

  a {
    color: $color-primary-dark;
  }
}
