<div class="home-top">
  <div class="container">
    <div class="squares">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <div class="home-sq cons-sq">
            <h3 class="home-sq-title cons-sq-title">
              Consortium
              <span class="glyphicon glyphicon-globe"></span>
            </h3>
            <!-- <p class="home-sq-desc">
              Access LINCS data and view schedule of upcoming data releases.
            </p> -->
            <ul>
              <li>
                <a ui-sref="">LINCS Project</a>
              </li>
              <li>
                <a ui-sref="">DCIC</a>
              </li>
              <li>
                <a ui-sref="">DSGCs</a>
              </li>
              <li>
                <a ui-sref="">Data Release Policy</a>
              </li>
              <li>
                <a ui-sref="">Data Standards</a>
              </li>
              <li>
                <a ui-sref="">News</a>
              </li>
              <li>
                <a ui-sref="">FAQ</a>
              </li>
            </ul>
            <button class="btn col-xs-10 col-xs-offset-1">
              Learn More
            </button>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="home-sq data-sq">
            <h3 class="home-sq-title data-sq-title">
              Data
              <span class="glyphicon glyphicon-stats"></span>
            </h3>
            <!-- <p class="home-sq-desc">
              Access LINCS data and view schedule of upcoming data releases.
            </p> -->
            <ul>
              <li>
                <a ui-sref="">mRNA Expression</a>
              </li>
              <li>
                <a ui-sref="">Proteomics</a>
              </li>
              <li>
                <a ui-sref="">Cell Imaging</a>
              </li>
              <li>
                <a ui-sref="">Cell Viability</a>
              </li>
              <li>
                <a ui-sref="">Epigenetics</a>
              </li>
              <li>
                <a ui-sref="">Metadata</a>
              </li>
              <li>
                <a ui-sref="">APIs</a>
              </li>
            </ul>
            <button class="btn col-xs-10 col-xs-offset-1">
              Access Data
            </button>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="home-sq tool-sq">
            <h3 class="home-sq-title tool-sq-title">
              Tools
              <span class="glyphicon glyphicon-wrench"></span>
            </h3>
            <!-- <p class="home-sq-desc">
              Query and browse LINCS data through multiple lenses.
            </p> -->
            <ul>
              <li>
                <a ui-sref="">Viz of LINCS Data</a>
              </li>
              <li>
                <a ui-sref="">Data Repository</a>
              </li>
              <li>
                <a ui-sref="">Enrichment Analysis</a>
              </li>
              <li>
                <a ui-sref="">L1000 Analysis</a>
              </li>
              <li>
                <a ui-sref="">Image Analysis</a>
              </li>
              <li>
                <a ui-sref="">Pathway Explorer</a>
              </li>
              <li>
                <a ui-sref="">Drug Response Viz</a>
              </li>
            </ul>
            <button class="btn col-xs-10 col-xs-offset-1">
              Explore Tools
            </button>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="home-sq pub-sq">
            <h3 class="home-sq-title pub-sq-title">
              Publications
              <span class="glyphicon glyphicon-book"></span>
            </h3>
            <!-- <p class="home-sq-desc">
              Access LINCS data and view schedule of upcoming data releases.
            </p> -->
            <ul>
              <li>
                <a ui-sref="">Assay Development</a>
              </li>
              <li>
                <a ui-sref="">Data Analysis</a>
              </li>
              <li>
                <a ui-sref="">Data Generation</a>
              </li>
              <li>
                <a ui-sref="">Data Integration</a>
              </li>
              <li>
                <a ui-sref="">Data Standards</a>
              </li>
              <li>
                <a ui-sref="">Signature Generation</a>
              </li>
              <li>
                <a ui-sref="">Software Development</a>
              </li>
            </ul>
            <button class="btn col-xs-10 col-xs-offset-1">
              View Publications
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>
          Library of Integrated Network-Based Cellular Signatures
        </h3>
        <p>
          LINCS aims to create a network-based understanding of biology by cataloging changes
          in gene expression and other cellular processes that occur when cells are
          exposed to a variety of perturbing agents, and by using computational tools
          to integrate this diverse information into a comprehensive view of normal
          and disease states that can be applied for the development of new biomarkers
          and therapeutics.
        </p>
        <p>
          By generating and making public data that indicates how cells respond to various
          genetic and environmental stressors,
          <a ui-sref="about">the LINCS project</a> will help us gain a more detailed understanding of
          cell pathways and aid efforts to develop therapies that might restore perturbed
          pathways and networks to their normal states.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="push"></div>
</div>
<div class="container">
  <div class="search-wrapper">
    <h3>Search LINCS Assays, Experiment Data, and Projects</h3>
    <div class="search" ng-include="'partials/searchBar.html'"></div>
  </div>
</div>
<div class="container">
  <div class="clust-wrapper">
    <div class="clust-info">
      <h3>
        Overview of LINCS Existing and Future Datasets by Assay and Cell Type
      </h3>
      <p>
        The grid below provides an overview of the LINCS consortium existing and future dataset
        release milestones parsed by cell types and assays. Each tile represents
        planned (blue) or available (orange) LINCS datasets. The visualization
        is interactive. The tiles can be sorted by frequency (Rank) or ordered by
        similarity (Cluster). Hovering over a tile provides a brief description about
        the dataset, and clicking on a tile invokes a search of the LINCS milestones
        database.
      </p>
    </div>
    <div class="col-xs-12 clust-inner">
      <div class="clustergram">
        <div ng-include="'clustergram/clustergram.html'"></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="news-events">
    <div class="news-events-inner">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="events-banner">
            LINCS News &amp; Events
          </h3>
        </div>
        <div class="events">
          <div class="col-xs-12 col-md-4 event" ng-repeat="event in vm.upcoming">
            <div class="date-block text-center">
              <h4 class="date-month">
                {{event.date | date: 'MMM'}}
              </h4>
              <h4 class="date-day">
                {{event.date | date: 'd'}}
              </h4>
            </div>
            <div class="event-info">
              <a class="event-title" ng-if="!event.url" ui-sref="community">
                <h4>{{event.title}}</h4>
              </a>
              <a class="event-title" ng-if="event.url" ng-href="{{event.url}}" target="_blank">
                <h4>{{event.title}}</h4>
              </a>
              <h5 class="event-type">
                <em>{{event.type}}</em>
              </h5>
              <p class="event-deadline" ng-if="event.dates.due">
                Application deadline is {{event.dates.due | date: 'MMMM d, yyyy'}}
              </p>
              <div class="presenter" ng-if="event.presenter">
                <p ng-if="!event.presenter.url">
                  <strong>Presenter: </strong>{{event.presenter.name}}</p>
                <p ng-if="event.presenter.url">
                  <strong>Presenter: </strong>
                  <a ng-href="{{event.presenter.url}}">{{event.presenter.name}}</a>
                </p>
                <p>
                  <strong>Affiliation:
                  </strong>{{event.presenter.affiliation}}</p>
              </div>
              <p class="event-desc">{{event.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
