<div class="modal-body">
    <form ng-model="modalForm" class="modal-form-input" ng-show="name === 'assay'">
        <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" class="form-control" ng-model="newTag.name" />
        </div>
        <div class="form-group">
            <label class="control-label">Information</label>
            <input type="text" class="form-control" ng-model="newTag.info" />
        </div>
    </form>

    <form ng-model="modalForm" class="modal-form-input" ng-show="name === 'cellLines'">
        <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" class="form-control" ng-model="newTag.name" />
        </div>
        <div class="form-group">
            <label class="control-label">Type (Cell line or Cancer line)</label>
            <input type="text" class="form-control" ng-model="newTag.type" />
        </div>
        <div class="form-group">
            <label class="control-label">Class (Normal or iPSC-differentiated)</label>
            <input type="text" class="form-control" ng-model="newTag.class" />
        </div>
        <div class="form-group">
            <label class="control-label">Tissue</label>
            <input type="text" class="form-control" ng-model="newTag.tissue" />
        </div>
    </form>

    <form ng-model="modalForm" class="modal-form-input" ng-show="name === 'perturbagens'">
        <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" class="form-control" ng-model="modalForm.name" />
        </div>
        <div class="form-group">
            <label class="control-label">Type</label>
            <input type="text" class="form-control" ng-model="modalForm.type" />
        </div>
    </form>

    <form ng-model="modalForm" class="modal-form-input" ng-show="name === 'readouts'">
        <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" class="form-control" ng-model="modalForm.name" />
        </div>
        <div class="form-group">
            <label class="control-label">Data Type</label>
            <input type="text" class="form-control" ng-model="modalForm.type" />
        </div>
    </form>

    <form ng-model="modalForm" class="modal-form-input" ng-show="name === 'relevantDisease'">
        <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" class="form-control" ng-model="modalForm.name" />
        </div>
        <div class="form-group">
            <label class="control-label">Information</label>
            <input type="text" class="form-control" ng-model="modalForm.info" />
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="ok();">Save</button>
    <button type="button" class="btn btn-danger" ng-click="cancel();">Cancel</button>
</div>
