html, body {
    height: 100%;
}

.nav {
    cursor: pointer;
}

.navbar {
    border-radius: 0px;
    box-shadow: 0 0 3px 3px rgba(100, 100, 100, 0.49);
    -moz-box-shadow: 0 0 3px 3px rgba(100, 100, 100, 0.49);
    -webkit-box-shadow: 0 0 3px 3px rgba(100, 100, 100, 0.49);
}


.nav-items {
    display: inline-flex;
    margin-top: 5px;
    height: 100%;
    vertical-align: middle;
}

.title-bar {
    width: 90%;
    margin: 0 auto;
    vertical-align: middle;
}

.hello {
    margin: 0;
    padding: 15px 15px;
    line-height: 1.42857143;
    cursor: default;
}

body {
    background-color: #E4EBF0;
}

.wrap {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -60px;
}

.login {
    background-color: #E4EBF0;
    margin: 40px auto 60px auto;
    width: 40%;
    padding-bottom: 40px;
}

.btn-primary {
    margin-top: 20px;
}

.form-block {
    padding-top: 40px;
    margin: 0 auto;
    width: 50%;
}

.form-create-input {
    margin-bottom: 20px;
    width: 100%;
}

.form-title {
    margin-top: 40px;
	float: left;
}

.form-count {
    margin-top: 40px;
	float: right;
}
.form-missing {
	float: right;
}

.post-button {
}

/* UI SELECT */
.select2 > .select2-choice.ui-select-match {
    /* Because of the inclusion of Bootstrap */
    height: 29px;
}

.selectize-control > .selectize-dropdown {
    top: 36px;
}

.push {
    height: 100px;
}

.footer {
    box-shadow: 0 0 0px 3px rgba(100, 100, 100, 0.49);
    -moz-box-shadow: 0 0 3px 3px rgba(100, 100, 100, 0.49);
    -webkit-box-shadow: 0 0 3px 3px rgba(100, 100, 100, 0.49);

    height: 60px;
}

.credit {
    margin: 20px 0px;
}
