<div ng-controller="FormDataCtrl">
    <div class="table">
        <h4 class="meta-header">Assays</h4>
        <table class="table table-hovertable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="assay in assays" ng-click="selectData('Assay', assay)">
                    <td class="col-md-3">{{assay.name}}</td>
                    <td class="col-md-9">{{assay.info}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table">
        <h4 class="meta-header">Cell Lines</h4>
        <table class="table table-hovertable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Class</th>
                    <th>Tissue</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="line in cellLines" ng-click="selectData('Cell Line', line)">
                    <td class="col-md-3">{{line.name}}</td>
                    <td class="col-md-3">{{line.type}}</td>
                    <td class="col-md-3">{{line.class}}</td>
                    <td class="col-md-3">{{line.tissue}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table">
        <h4 class="meta-header">Perturbagens</h4>
        <table class="table table-hovertable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pert in perturbagens" ng-click="selectData('Perturbagen', pert)">
                    <td class="col-md-3">{{pert.name}}</td>
                    <td class="col-md-9">{{pert.type}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table">
        <h4 class="meta-header">Readouts</h4>
        <table class="table table-hovertable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Datatype</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rOut in readouts" ng-click="selectData('Readout', rOut)">
                    <td class="col-md-3">{{rOut.name}}</td>
                    <td class="col-md-9">{{rOut.datatype}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
