<div class="home" ng-controller="HomeCtrl">
    <!--
    <div class="docent">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#cellLineAssay" data-toggle="tab">Cell Lines and Assays</a></li>
                <li><a href="#cellLinePert" data-toggle="tab">Cell Lines and Perturbagens</a></li>
                <li><a href="#assayPert" data-toggle="tab">Assays and Perturbagens</a></li>
                <li><a href="#centerCellLine" data-toggle="tab">Centers and Cell Lines</a></li>
                <li><a href="#centerAssay" data-toggle="tab">Centers and Assays</a></li>
                <li><a href="#centerPert" data-toggle="tab">Centers and Perturbagens</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="cellLineAssay">
                    <table class="docent-table">
                        <tr>
                            <th>
                                <a href="#">Hi</a>
                            </th>
                            <th>
                                <a href="#">Hello</a>
                            </th>
                            <th>
                                <a href="#">Hello, sir</a>
                            </th>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane" id="cellLinePert">
                                        <h4 class="vert-title text-center">Vertical</h4>
                        <table class="docent-table">
                            <thead>
                                <tr>
                                    <th colspan="3">
                                        <h4 class="text-center">Horizontal</h4>
                                    </th>
                                </tr>
                            </thead>
                            <tr>
                                <th>
                                    <a href="#">Hi</a>
                                    <a href="#">Hello</a>
                                    <a href="#">Hello, sir</a>
                                </th>
                            </tr>
                        </table>
                </div>
                <div class="tab-pane" id="assayPert">
                    <table class="docent-table">
                        <tr>
                            <th>
                                <a href="#">Hi</a>
                            </th>
                            <th>
                                <a href="#">Hello</a>
                            </th>
                            <th>
                                <a href="#">Hello, sir</a>
                            </th>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane" id="centerCellLine">
                    <table class="docent-table">
                        <tr>
                            <th>
                                <a href="#">Hi</a>
                            </th>
                            <th>
                                <a href="#">Hello</a>
                            </th>
                            <th>
                                <a href="#">Hello, sir</a>
                            </th>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane" id="centerAssay">
                    <table class="docent-table">
                        <tr>
                            <th>
                                <a href="#">Hi</a>
                            </th>
                            <th>
                                <a href="#">Hello</a>
                            </th>
                            <th>
                                <a href="#">Hello, sir</a>
                            </th>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane" id="centerPert">
                    <table class="docent-table">
                        <tr>
                            <th>
                                <a href="#">Hi</a>
                            </th>
                            <th>
                                <a href="#">Hello</a>
                            </th>
                            <th>
                                <a href="#">Hello, sir</a>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
-->

</div>

