html, body {
    height: 100%;
    font-family: arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: white;
}

.wrap {
    background-color: white;
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -60px;
}


.pointer, .nav, .dropdown-menu>li>a {
    cursor: pointer;
}

.navbar {
    border: 0px;
    border-radius: 0px;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fafafa),color-stop(1,#f5f5f5));
    min-height: 44px;
    padding: 29px 15px 0px 15px;
}

.navbar-nav>li>a {
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fafafa),color-stop(1,#f5f5f5));
    color: black;
}

.navbar-nav>li>a:hover {
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fafafa),color-stop(1,#f5f5f5));
    color: black;
}

.nav-items {
    display: inline-flex;
    margin-top: 5px;
    height: 100%;
    vertical-align: middle;
}


.title-bar {
    margin: 0 auto;
    vertical-align: middle;
}

.hello {
    margin: 0;
    padding: 15px 15px;
    line-height: 1.42857143;
    cursor: default;
}

.ml-title {
	color: #6B7678;
    padding: 0px 15px;
}

.ml-title:hover {
	color: #6B7678;
}

.ml-navbar {
	margin: 0px 75px;
}

.ml-view {
	font-family: Roboto, sans-serif;
    margin: 0px 90px;
}

.login {
    background-color: white;
    margin: 40px auto 60px auto;
    width: 40%;
    padding-bottom: 40px;
}



/* Forms Homepage */

.form-table-head, .form-table-data {
    border-bottom: 1px solid rgb(204,204,204);	
}

.form-table-item {
    padding: 2px 5px;
}

/* End Forms Homepage */

/* Form Create */
.form-info-block {
    float: left;
    padding-top: 40px;
    width: 45%;
}

.form-block {
    float: right;
    padding-top: 40px;
    width: 50%;
}

.form-select {
    cursor: default;
    width: 90%;
}

a#add-new-btn, a#clear-btn {
    color: black;
}

a#add-new-btn:hover, a#clear-btn:hover {
    text-decoration: none;
    color: gray;
}

p.input-group {
	margin: 14px 0;
}

.form-center {
	width: 100%;
    margin-top: 20px;
}

.form-title {
    width: 45%;
    margin-top: 20px;
	float: left;
}

.form-count {
    width: 45%;
    margin-top: 20px;
	float: left;
    text-align: right;
}

.form-date {
    width: 90%;
    display: inline-block;    
}

.post-button {
    float: left;
    text-align: right;
    width: 90%;
}

/* UI SELECT */
.select2 > .select2-choice.ui-select-match {
    /* Because of the inclusion of Bootstrap */
    height: 29px;
}

.selectize-control > .selectize-dropdown {
    top: 36px;
}
/* End Form Create */


.push {
    margin-top: 60px;
    height: 140px;
    background-color: white;
}

.footer {
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fafafa),color-stop(1,#f5f5f5));
    height: 60px;
}

.credit {
    margin: 20px 0px;
}
