<div>
    <div class="card-release col-md-2 col-sm-3"
         ng-class="release.released ? 'card-release-released' : 'card-release-prod'"
         ng-repeat="release in resultArray | orderBy:['-released', '-releaseDates.upcoming']">
        <div class="well well-sm well-release"
             ng-class="release.released ? 'well-release-released' : 'well-release-prod'">
            <div class="row">
                <div class="text-center col-xs-12 group-icon-wrapper">
                    <div class="text-center group-icon"
                         style="background-image: url(http://amp.pharm.mssm.edu/LDR/api/group/{{release.group._id}}/icon/)">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <h5 class="">{{release.datasetName}}</h5>

                    <p>
                        <span>
                            <i class="card-glyph glyphicon glyphicon-user"></i>
                            {{release.group.name}}
                        </span>
                        <br/>
                        <span ng-if="!release.released" class="in-production">
                            <i class="card-glyph-prod glyphicon glyphicon-wrench"></i>
                            In Production
                            <br/>
                        </span>
                        <span ng-if="release.released" class="released">
                            <i class="card-glyph-released glyphicon glyphicon-ok"></i>
                            Released
                            <br/>
                        </span>
                        <span ng-if="release.released" class="released">
                            <i class="card-glyph-released glyphicon glyphicon-link"></i>
                            <a ng-href="{{release.urls.dataUrl}}"
                               target="_blank">
                                <strong>Access data</strong>
                            </a>
                        </span>
                        <br/>
                        <span ng-if="release.released">
                            <i class="card-glyph glyphicon glyphicon-calendar"></i>
                            {{release.releaseDates.upcoming |
                            date: 'MMMM dd, yyyy'}}
                        </span>
                        <br/>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">

                </div>
            </div>
        </div>
    </div>
</div>