<div class="modal-body">
    <form class="modal-form-input">
        <div class="form-group">
            <h3>
                <label class="control-label">Reason for Returning</label>
            </h3>
            <textarea type="text" class="return-textarea form-control"
                      ng-model="form.message">
                </textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="returnRelease();">
        Return Release
    </button>
    <button type="button" class="btn btn-danger" ng-click="cancel();">
        Cancel
    </button>
</div>
