<h2 class="headline-info page-header">
  Centers
</h2>
<p>
  The NIH Common Fund’s Library of Integrated Network-based Cellular Signatures (LINCS)
  program is implemented in two parts: Pilot Phase 1 (FY 2010) and the continuation
  of the program in Production Phase 2. This part of the program consists primarily
  of LINCS Data and Signature Generation Centers. Phase 2 will also synergize with
  the efforts of the
  <a href="http://bd2k.nih.gov/#sthash.UHtPu2rQ.dpbs">NIH Big Data to
    Knowledge (BD2K) program</a>.
</p>
<div class="row phase-nav">
  <div class="phase-one-nav col-xs-12 col-md-6 text-center" ng-click="vm.goToPhase('One')">
    <div class="phase-nav-inner">
      <span class="glyphicon glyphicon-chevron-left pull-left"></span>
      <h2>LINCS Pilot Phase One</h2>
    </div>
  </div>
  <div class="phase-two-nav col-xs-12 col-md-6 text-center" ng-click="vm.goToPhase('Two')">
    <div class="phase-nav-inner">
      <span class="glyphicon glyphicon-chevron-right pull-right"></span>
      <h2>LINCS Production Phase Two</h2>
    </div>
  </div>
</div>
