<h3 class="text-center">Data Releases</h3>
<div class="content">
    <table class="table">
        <thead>
        <tr>
            <!--<th>Dataset ID</th>-->
            <th>
                <a href=""
                   ng-click="sortType = 'metadata.assay[0].name'; sortReverse = !sortReverse">
                    Assay
                    <span ng-show="sortType == 'metadata.assay[0].name' && sortReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'metadata.assay[0].name' && !sortReverse"
                          class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href=""
                   ng-click="sortType = 'metadata.perturbagens.length'; sortReverse = !sortReverse">
                    Perturbagens
                    <span ng-show="sortType == 'metadata.perturbagens.length' && sortReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'metadata.perturbagens.length' && !sortReverse"
                          class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href=""
                   ng-click="sortType = 'metadata.cellLines.length'; sortReverse = !sortReverse">
                    Cells
                    <span ng-show="sortType == 'metadata.cellLines.length' && sortReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'metadata.cellLines.length' && !sortReverse"
                          class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href=""
                   ng-click="sortType = 'metadata.readouts.length'; sortReverse = !sortReverse">
                    Readouts
                    <span ng-show="sortType == 'metadata.readouts.length' && sortReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'metadata.readouts.length' && !sortReverse"
                          class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href=""
                   ng-click="sortType = 'metadata.releaseDates.level1'; sortReverse = !sortReverse">
                    Release Date
                    <span ng-show="sortType == 'metadata.releaseDates.level1' && sortReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'metadata.releaseDates.level1' && !sortReverse"
                          class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                Level
            </th>
            <th>
                <a href=""
                   ng-click="sortType = 'approved'; sortReverse = !sortReverse">
                    Status
                    <span ng-show="sortType == 'approved' && sortReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'approved' && !sortReverse"
                          class="fa fa-caret-up"></span>
                </a>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="form in forms | orderBy: sortType : sortReverse"
            class="form-table-data">
            <!--<td id="id">{{form._id}}</td>-->
            <td id="assay-name">{{form.metadata.assay[0].name}}</td>
            <td class="col-sm-2" id="pert-count">
                {{form.metadata.perturbagens.length}}
            </td>
            <td class="col-sm-1" id="cell-count">
                {{form.metadata.cellLines.length}}
            </td>
            <td class="col-sm-2" id="readout-count">
                {{form.metadata.readouts.length}}
            </td>

            <!-- TODO: Show most recent release date and provide level -->
            <td class="col-sm-1" id="release-date">{{form.releaseDates.level1 |
                date:'MM-dd-yyyy'}}
            </td>
            <td id="release-level">1</td>
            <td id="status">
                    <span ng-if="form.approved">
                        Approved
                    </span>
                    <span ng-if="!form.approved && !form.needsEdit">
                        Pending approval
                    </span>
                    <span ng-if="!form.approved && form.needsEdit">
                        Needs Editing
                    </span>
            </td>
            <!--<td id="id">{{form._id}}</td>-->
            <td>
                <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle"
                       data-toggle="dropdown" ng-href="">
                        Action<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="editForm(form)">Edit</a></li>
                        <li><a ng-click="deleteForm(form)">Delete</a></li>
                    </ul>
                </div>
            </td>
            <td>
                <a ng-click="form.collapsed = !form.collapsed">
                <span ng-if="!form.collapsed" class="glyphicon glyphicon-plus">
                </span>
                <span ng-if="form.collapsed" class="glyphicon glyphicon-minus">
                </span>
                </a>
            </td>
        </tr>
        <tr class="animate" ng-show="form.collapsed">
            <td colspan="7" class="col-sm-12">
                <h4 class="text-center">{{form.metadata.assay[0].name}}</h4>

                <div class="col-sm-12">
                    <h5>Cell Lines</h5>
                    <ul class="list-inline">
                        <li ng-repeat="line in form.metadata.cellLines">
                            {{line.name}}
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <h5>Perturbagens</h5>
                    <ul class="list-inline">
                        <li ng-repeat="pert in form.metadata.perturbagens">
                            {{pert.name}}
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <h5>Readouts</h5>
                    <ul class="list-inline">
                        <li ng-repeat="rOut in form.metadata.readouts">
                            {{rOut.name}}
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <h5>Release Dates</h5>
                    <ul class="list-inline">
                        <li ng-repeat="(level,date) in form.releaseDates">
                            <strong>{{level}}: </strong>{{date |
                            date:'MM-dd-yyyy'}}
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr ng-repeat-end="" ng-if="forms.length === 0">
            <td colspan="5" class="col-md-12">There are no releases to
                display. Please <a ui-sref="releasesCreate">add data here
                </a>.
            </td>
        </tr>
        </tbody>
    </table>
</div>
