<h3 class="text-center">Data Releases</h3>
<div class="content">
    <table class="table">
        <thead>
        <tr>
            <!--<th>Dataset ID</th>-->
            <th class="text-center">
                <a href=""
                   ng-click="sortType = 'metadata.assay[0].name'; sortReverse = !sortReverse">
                    Center Assay Name
                    <span ng-show="sortType == 'metadata.assay[0].name' && sortReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'metadata.assay[0].name' && !sortReverse"
                          class="fa fa-caret-up"></span>
                </a>
            </th>
            <th class="text-center">
                <a href=""
                   ng-click="sortType = 'metadata.assay[0].dcicName'; sortReverse = !sortReverse">
                    DCIC Assay Name
                    <span ng-show="sortType == 'metadata.assay[0].dcicName' && sortReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'metadata.assay[0].dcicName' && !sortReverse"
                          class="fa fa-caret-up"></span>
                </a>
            </th>
            <!--<th class="text-center">
                <a href=""
                   ng-click="sortType = 'metadata.perturbagens.length'; sortReverse = !sortReverse">
                    Perturbagens
                    <span ng-show="sortType == 'metadata.perturbagens.length' && sortReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'metadata.perturbagens.length' && !sortReverse"
                          class="fa fa-caret-up"></span>
                </a>
            </th>
            <th class="text-center">
                <a href=""
                   ng-click="sortType = 'metadata.cellLines.length'; sortReverse = !sortReverse">
                    Cells
                    <span ng-show="sortType == 'metadata.cellLines.length' && sortReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'metadata.cellLines.length' && !sortReverse"
                          class="fa fa-caret-up"></span>
                </a>
            </th>
            <th class="text-center">
                <a href=""
                   ng-click="sortType = 'metadata.readouts.length'; sortReverse = !sortReverse">
                    Readouts
                    <span ng-show="sortType == 'metadata.readouts.length' && sortReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'metadata.readouts.length' && !sortReverse"
                          class="fa fa-caret-up"></span>
                </a>
            </th>-->
            <th class="text-center">
                <a href=""
                   ng-click="sortType = 'releaseDates.upcoming'; sortReverse = !sortReverse">
                    Upcoming Release Date
                    <span ng-show="sortType == 'releaseDates.upcoming' && sortReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'releaseDates.upcoming' && !sortReverse"
                          class="fa fa-caret-up"></span>
                </a>
            </th>
            <th class="text-center">
                <a href=""
                   ng-click="sortType = 'approved'; sortReverse = !sortReverse">
                    Status
                    <span ng-show="sortType == 'approved' && sortReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'approved' && !sortReverse"
                          class="fa fa-caret-up"></span>
                </a>
            </th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="form in forms | orderBy: sortType : sortReverse"
            ng-class="form.approved ? 'tr-approved' : 'tr-unapproved'"
            class="form-table-data text-center">
            <!--<td id="id">{{form._id}}</td>-->
            <td class="text-left" id="assay-name">
                {{form.metadata.assay[0].name}}
            </td>
            <td class="text-left" id="dcic-assay-name">
                {{form.metadata.assay[0].dcicName}}
            </td>
            <!--<td class="col-sm-2" id="pert-count">
                {{form.metadata.perturbagens.length}}
            </td>
            <td class="col-sm-1" id="cell-count">
                {{form.metadata.cellLines.length}}
            </td>
            <td class="col-sm-1" id="readout-count">
                {{form.metadata.readouts.length}}
            </td>-->

            <td class="col-sm-2" id="release-date">
                {{form.releaseDates.upcoming | date: 'MM-dd-yyyy'}}
            </td>
            <td class="col-sm-1" id="status">
                    <span ng-if="form.approved">
                        Approved
                    </span>
                    <span ng-if="!form.approved && !form.needsEdit">
                        Pending approval
                    </span>
                    <span ng-if="!form.approved && form.needsEdit">
                        Needs Editing
                    </span>
            </td>
            <!--<td id="id">{{form._id}}</td>-->
            <td>
                <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle"
                       ng-class="form.approved ? 'tr-approved-btn' :
                       'tr-unapproved-btn'"
                       data-toggle="dropdown" ng-href="">
                        Action<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="editForm(form)">Edit</a></li>
                        <li><a ng-click="deleteForm(form)">Delete</a></li>
                    </ul>
                </div>
            </td>
            <td>
                <a ng-click="form.collapsed = !form.collapsed">
                <span ng-if="!form.collapsed" class="glyphicon glyphicon-plus">
                </span>
                <span ng-if="form.collapsed" class="glyphicon glyphicon-minus">
                </span>
                </a>
            </td>
        </tr>
        <tr class="release-details animate" ng-show="form.collapsed">
            <td colspan="10" class="col-sm-12">
                <h4 class="text-center assay-title">
                    {{form.metadata.assay[0].name}}
                </h4>

                <p class="col-sm-12">{{form.metadata.assay[0].info}}</p>

                <div class="col-sm-12">
                    <h5>Cell Lines</h5>
                    <ul class="list-inline">
                        <li ng-repeat="line in form.metadata.cellLines">
                            {{line.name}}
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <h5>Perturbagens</h5>
                    <ul class="list-inline">
                        <li ng-repeat="pert in form.metadata.perturbagens">
                            {{pert.name}}
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <h5>Readouts</h5>
                    <ul class="list-inline">
                        <li ng-repeat="rOut in form.metadata.readouts">
                            {{rOut.name}}
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <h5>Release Dates</h5>
                    <ul class="list-inline">
                        <li ng-repeat="(level,date) in form.releaseDates"
                            ng-if="date !== '' && level !== 'upcoming'">
                            <strong class="info-release-lvl">
                                {{level}}:
                            </strong>
                            {{date | date:'MM-dd-yyyy'}}
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr ng-repeat-end="" ng-if="forms.length === 0">
            <td colspan="5" class="col-md-12">
                There are no releases to display.
                Please <a ui-sref="releasesCreate">add data here</a>.
            </td>
        </tr>
        </tbody>
    </table>
</div>
