#footer {
  background: $color-gray-charcoal;
  border-top: 1px solid $color-black;
  bottom: 0;
  color: $color-white;
  left: 0;
  position: absolute;
  width: 100%;

  .bd2k,
  .contact {
    text-align: center;
  }

  .bd2k {
    @media all and (min-width: 992px) {
      float: left!important;
    }
  }

  .contact {
    @media all and (min-width: 992px) {
      float: right!important;
    }
  }

  a {
    color: $color-primary-light;
  }
}

.credit {
  margin: 20px;
}
