.export {
  margin-top: 20px;
}

.content {
  margin: 20px auto;
}

.intro {
  border-bottom: 1px solid $color-gray-light;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.search-count {
  border-bottom: 1px solid $color-gray-light;
  margin-bottom: 19px;
}

.headline-info {
  font-weight: 400 !important;

  span {
    font-weight: 700 !important;
    color: $color-primary;
  }
}

.headline-info-margins {
  @extend .headline-info;
  margin: 20px 0;

  span {
    font-weight: 700 !important;
    color: $color-primary;
  }
}

.headline-examples {
  margin-bottom: 20px;
}

.home-stats {
  li {
    padding: 0 12px;
  }
}

.home-table > thead > tr > th {
  border-bottom: 0;
}

.rel-home-selected {
  background-color: $color-primary-v-light;
  border-left: 1px solid $color-primary-dark;

  .home-expand-btn {
    border-right: 1px solid $color-primary-dark;
  }

  td {
    border-top: 1px solid $color-primary-dark !important;
    border-bottom: 1px solid $color-primary-dark !important;
  }
}

.home-expand,
.home-expand td {
  border: 1px solid $color-primary-dark;
}

.home-export {
  float: right;
}
