.masonry-container:before,
.masonry-container:after {
  content: "";
  display: table;
}

.masonry-container:after {
  clear: both;
}

.masonry-container {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.card {
  min-height: 200px;
}

.card-release {
  height: 350px;
  padding: 0 7px 14px;

  @media (max-width: 500px) {
    float: left;
    width: 50%;
  }

  @media (min-width: 500px) and (max-width: 768px) {
    float: left;
    width: 33.3333333333333%;
  }

}

.well-release {
  border-radius: 10px;
  margin-bottom: 0;
  padding: 0;
}

.well-release-released {
  box-shadow: 0 0 8px 0 #4cae4c;
}

.well-release-prod {
  box-shadow: 0 0 8px 0 $color-red;

}

.user-icon {
  margin: 0 auto;
}

.caption {
  font-size: 12px;
}

.card-titles {
  display: inline-block;
  width: 100%;
}

.card-name {
  float: left;
}

.card-pending {
  margin-right: 20px;
  float: right;
  color: $color-red;
}

.card-accepted {
  float: right;
  color: #4cae4c;
}

.card-glyph {
  top: 3px;
  color: $color-primary;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card-glyph-prod, .card-glyph-released {
  top: 3px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.in-production {
  color: $color-red;
}

.released {
  color: #4cae4c;
}

small {
  display: block;
  line-height: 1.428571429;
  color: #999;
}

.card-details {
  margin-left: 35px;
}
