#release-search {
  position: relative;
  height: 47px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background: #fff;

  #search-bar {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 80%;
    height: 30px;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 18px;
    background: none;

  }

  #search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    width: 46px;
    border: 0;
    text-indent: -9999em;
    cursor: pointer;
    outline: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 2px 2px 0;
    background: url('../images/ico-search.svg') no-repeat 50% 50%;
    background-size: 16px 16px;

    &:hover {
      background: $color-primary url('../images/ico-search-hover.svg') no-repeat 50% 50%;
      background-size: 16px 16px;
    }
  }
}
