@import '../base';

#button-container {
  // width: 124px;
  // margin: 0 auto;
  text-align: left;
  margin-left: 2px;

  label {
    opacity: 0.5;
  }
  .active {
    opacity: 1;
  }
}

#svg-div {
  height: 400px;
  width: 100%;

  text[text-anchor="center"] {
    fill: $color-primary-dark;
  }

  @media all and (max-width: 992px) {
    margin: 0 auto;
    width: 550px;
    height: 1000px;
  }
}
