<h3 class="text-center">Data Releases</h3>
<div class="content">
    <table class="table">
        <thead>
            <tr>
                <!--<th>Dataset ID</th>-->
                <th>Assay</th>
                <th>Perturbagens</th>
                <th>Cells</th>
                <th>Readouts</th>
                <th>Release Date</th>
                <th>Level</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="form in forms" class="form-table-data">
                <!--<td id="id">{{form._id}}</td>-->
                <td id="assay-name">{{form.assay.name}}</td>
                <td id="cell-count">{{form.cellLineCount}}</td>
                <td id="pert-count">{{form.perturbagenCount}}</td>
                <td id="readout-count">{{form.readoutCount}}</td>
                
                <!--------- TODO: Show most recent release date and provide level -------->
                <td id="release-date">{{form.releaseDates.level1 | date:'MM-dd-yyyy'}}</td>
                <td id="release-level">1</td>
                <td id="status">{{form.status}}</td>
                <!--<td id="id">{{form._id}}</td>-->
                <td>
                    <div class="btn-group">
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                            Action<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="editForm(form)">Edit</a></li>
                            <li><a ng-click="deleteForm(form)">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr ng-if="forms.length === 0">
                <td colspan="5" class="col-md-12">There are no releases to display. Please <a ui-sref="formCreate">add data here</a>.</td>
            </tr>
        </tbody>
    </table>
</div>
