<div class="container">
  <div class="col-xs-12">
    <h3 class="text-center headline-info">NIH Approval Interface</h3>
  </div>
  <div ng-include="'partials/legend.html'"></div>
  <div class="content col-xs-12">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center">
            Dataset ID
          </th>
          <th class="text-center col-sm-2">
            <a href="" ng-click="vm.sortType = ['released', 'approved']; vm.sortReverse = !vm.sortReverse">
              Status
              <span ng-show="vm.sortType[0] === 'released' && vm.sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="vm.sortType[0] === 'released' && !vm.sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>
          <th class="text-center">
            <a href="" ng-click="vm.sortType = 'group.name'; vm.sortReverse = !vm.sortReverse">
              DSGC
              <span ng-show="vm.sortType === 'group.name' && vm.sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="vm.sortType === 'group.name' && !vm.sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>
          <th class="text-center col-sm-2">
            <a href="" ng-click="vm.sortType = 'datasetName'; vm.sortReverse = !vm.sortReverse">
              Dataset
              <span ng-show="vm.sortType === 'datasetName' && vm.sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="vm.sortType === 'datasetName' && !vm.sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>
          <th class="text-center">
            <a href="" ng-click="vm.sortType = 'releaseDates.upcoming'; vm.sortReverse = !vm.sortReverse">
              Release Date
              <span ng-show="vm.sortType === 'releaseDates.upcoming' && vm.sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="vm.sortType === 'releaseDates.upcoming' && !vm.sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>
          <th class="text-center" ng-if="!vm.allSelected">
            <a class="btn btn-primary" href="" ng-click="vm.selectAll()">
              Select All
            </a>
          </th>
          <th class="text-center" ng-if="vm.allSelected">
            <a class="btn btn-primary" href="" ng-click="vm.unselectAll()">
              Unselect All
            </a>
          </th>
          <th class="text-center">
            <a class="btn btn-primary" href="" ng-click="vm.export()">
              Export
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="form in vm.allForms | orderBy: vm.sortType : vm.sortReverse"
        ng-click="form.selected = !form.selected;" ng-class="form.selected ? 'tr-selected' :
            form.released ? 'tr-released' :
            !form.approved && !form.needsEdit ? 'tr-awaiting-approval' :
            form.approved && !form.needsEdit ? 'tr-approved' :
            form.needsEdit ? 'tr-needs-edit' : ''" class="form-table-data text-center">
          <td id="text-left">{{form.did}}</td>
          <td class="" id="status">
            <span ng-if="form.released">
              Released
            </span>
            <span ng-if="form.approved && !form.released">
              Approved
            </span>
            <span ng-if="!form.approved && !form.needsEdit">
              Pending approval
            </span>
            <span ng-if="!form.approved && form.needsEdit">
              Awaiting Changes
            </span>
          </td>
          <td class="col-sm-2 text-left" id="center">
            <a ng-href="{{form.group.homepage}}">{{form.group.name}}</a>
          </td>
          <td class="text-left" id="assay-name">
            {{form.datasetName}}
          </td>
          <!--<td class="col-sm-1" id="readout-count">
                {{form.metadata.readouts.length}}
            </td>-->
          <td class="col-sm-2" id="release-date">
            {{form.releaseDates.upcoming | date:'MM-dd-yyyy' }}
          </td>
          <td>
            <div class="btn-group">
              <a class="btn btn-default dropdown-toggle" ng-class="form.released ? 'tr-released-btn' :
            !form.approved && !form.needsEdit ? 'tr-awaiting-approval-btn' :
            form.approved && !form.needsEdit ? 'tr-approved-btn' :
            form.needsEdit ? 'tr-needs-edit-btn' : ''" data-toggle="dropdown" ng-href="">
                Action
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a ng-click="vm.viewMessages(form)">View Messages</a>
                </li>
                <li ng-if="!form.approved">
                  <a ng-click="vm.approve(form)">Approve</a>
                </li>
                <li ng-if="form.approved">
                  <a ng-click="vm.unApprove(form)">Unapprove</a>
                </li>
                <li ng-if="!form.approved">
                  <a ng-click="vm.returnRel(form)">Return To Center</a>
                </li>
              </ul>
            </div>
          </td>
          <td>
            <a ng-click="form.collapsed = !form.collapsed">
              <span ng-if="!form.collapsed" class="glyphicon glyphicon-plus">
              </span>
              <span ng-if="form.collapsed" class="glyphicon glyphicon-minus">
              </span>
            </a>
          </td>
        </tr>
        <tr class="release-details animate" ng-show="form.collapsed">
          <td colspan="10">
            <div ng-include="'partials/expand.html'"></div>
          </td>
        </tr>
        <tr ng-repeat-end="" ng-if="vm.allForms.length === 0">
          <td colspan="7" class="col-sm-12">
            There are no forms to display. Please try again later.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
