#cons-meeting-img {
  background: url('../images/LINCS-2014-cm-cover.png') no-repeat center;
  background-size: contain;
  width: 236px;
  height: 300px;
}

.cons-meetings {
  span {
    font-weight: 600;
  }
}
