<div class="navbar-wrapper">
  <div class="navbar-inner container">
    <div class="col-xs-12 col-md-5">
      <a ui-sref="home" id="nih-logo"></a>
    </div>
    <div class="col-xs-12 col-md-7 user-wrapper">
      <p class="login-info" ng-show="!vm.isLoggedIn">
        Login to Internal LINCS Data Registration System
      </p>
      <ul class="nav navbar-nav pull-right username" ng-show="vm.isLoggedIn">
        <li dropdown>
          <a href="" dropdown-toggle class="user" data-toggle="dropdown" role="button" aria-expanded="false">
            {{vm.user.username}}
          </a>
          <ul class="dropdown-menu username-menu" role="menu">
            <li>
              <a ui-sref="userSettings({id: vm.user._id})">
                Settings
              </a>
            </li>
            <li>
              <a ng-show="vm.isLoggedIn" ng-click="vm.logout()">
                Logout
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav ul-nav-login" ng-show="!vm.isLoggedIn">
        <li class="nav-login">
          <form name="loginForm" class="navbar-form pull-right">
            <div class="form-group">
              <input ng-focus="showErr=false" ng-blur="showErr=true" name="username" type="text"
              class="form-control" ng-model="vm.user.username" id="username" placeholder="Username">
            </div>
            <div id="password-group" class="form-group">
              <input ng-focus="showErr=false" ng-blur="showErr=true" name="password" type="password"
              class="form-control" id="password" ng-model="vm.user.password" placeholder="Password">
            </div>
            <!-- <button type="button" ng-click="vm.register()" class="btn pull-right register-btn">
              Register
            </button> -->
            <button type="submit" ng-click="vm.login()" class="btn pull-right login-btn">
              Login
            </button>
          </form>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-7 lp-nav">
      <ul class="nav navbar-right">
        <li id="homeLink">
          <a ui-sref="home">Home</a>
        </li>
        <li dropdown>
          <a href="" dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">
            Centers
          </a>
          <ul class="centers-menu dropdown-menu" role="menu">
            <li>
              <a ui-sref="centers">Centers Home</a>
            </li>
            <li>
              <a ui-sref="dsgc">Data Signature Generation Centers</a>
            </li>
            <li>
              <a ui-sref="dcic">BD2K-LINCS DCIC</a>
            </li>
            <li>
              <a ui-sref="phaseOne">Pilot Phase 1 Centers</a>
            </li>
          </ul>
        </li>
        <li ng-show="!vm.isLoggedIn || vm.isLoggedInAdmin">
          <a ui-sref="releasesHome">Data</a>
        </li>
        <li dropdown ng-show="vm.isLoggedIn && !vm.isLoggedInAdmin">
          <a href="" dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">
            Data
          </a>
          <ul class="dropdown-menu" role="menu">
            <li ng-show="!vm.isLoggedInAdmin">
              <a ui-sref="releasesHome">Data Home</a>
            </li>
            <li ng-show="!vm.isLoggedInAdmin">
              <a ui-sref="releasesOverview({groupId: vm.user.group._id})">Your Data</a>
            </li>
            <li ng-show="!vm.isLoggedInAdmin">
              <a ui-sref="releasesCreate({id: ''})">Add New</a>
            </li>
          </ul>
        </li>
        <li dropdown>
          <a href="" dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">
            Community
          </a>
          <ul class="comm-menu dropdown-menu" role="menu">
            <li>
              <a ui-sref="community">Community Home</a>
            </li>
            <li>
              <a ui-sref="fundingOpps">Funding Opportunities</a>
            </li>
            <li>
              <a ui-sref="consortiumMeetings">LINCS Consortium Meetings</a>
            </li>
            <li>
              <a ui-sref="webinars">Webinars</a>
            </li>
            <li>
              <a ui-sref="workshops">Workshops and Symposia</a>
            </li>
          </ul>
        </li>
        <li>
          <a ui-sref="publications">Publications</a>
        </li>
        <li>
          <a ui-sref="news">News</a>
        </li>
        <li ng-show="vm.isLoggedInAdmin">
          <a ui-sref="admin">Admin</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="top-nav-divider"></div> -->
</div>
<!-- <div class="thin-navbar">
  <div class="container">
    <nav class="container-full">
      <div>
        <ul class="nav navbar-left">
          <li dropdown>
            <a href="" dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">
              Centers
            </a>
            <ul class="centers-menu dropdown-menu" role="menu">
              <li>
                <a ui-sref="centers">Centers Home</a>
              </li>
              <li>
                <a ui-sref="dsgc">Data Signature Generation Centers</a>
              </li>
              <li>
                <a ui-sref="dcic">BD2K-LINCS Data Coordination and Integration Center</a>
              </li>
              <li>
                <a ui-sref="phaseOne">Pilot Phase 1 Centers</a>
              </li>
            </ul>
          </li>
          <li ng-show="!vm.isLoggedIn || vm.isLoggedInAdmin">
            <a ui-sref="releasesHome">Data</a>
          </li>
          <li dropdown ng-show="vm.isLoggedIn && !vm.isLoggedInAdmin">
            <a href="" dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">
              Data
            </a>
            <ul class="dropdown-menu" role="menu">
              <li ng-show="!vm.isLoggedInAdmin">
                <a ui-sref="releasesHome">Data Home</a>
              </li>
              <li ng-show="!vm.isLoggedInAdmin">
                <a ui-sref="releasesOverview({groupId: vm.user.group._id})">Your Data</a>
              </li>
              <li ng-show="!vm.isLoggedInAdmin">
                <a ui-sref="releasesCreate({id: ''})">Add New</a>
              </li>
            </ul>
          </li>
          <li dropdown>
            <a href="" dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">
              Community
            </a>
            <ul class="comm-menu dropdown-menu" role="menu">
              <li>
                <a ui-sref="community">Community Home</a>
              </li>
              <li>
                <a ui-sref="fundingOpps">Funding Opportunities</a>
              </li>
              <li>
                <a ui-sref="consortium">LINCS Consortium Meetings</a>
              </li>
              <li>
                <a ui-sref="webinars">Webinars</a>
              </li>
              <li>
                <a ui-sref="workshops">Workshops and Symposia</a>
              </li>
            </ul>
          </li>
          <li>
            <a ui-sref="publications">Publications</a>
          </li>
          <li>
            <a ui-sref="news">News</a>
          </li>
          <li ng-show="vm.isLoggedInAdmin">
            <a ui-sref="admin">Admin</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
 -->
