<div class="navbar-wrapper">
  <div class="navbar-inner container">
    <a id="nih-title" ui-sref="home"></a>
    <ul class="nav navbar-nav navbar-right username-menu text-center">
      <li class="dropdown login-dropdown" ng-show="!vm.isLoggedIn">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <b>Login</b>
        </a>
        <ul id="login-dp" class="dropdown-menu">
          <li>
            <div class="row">
              <form class="form" role="form" accept-charset="UTF-8" id="login-nav">
                <div class="form-group">
                  <label class="sr-only" for="username">Email address</label>
                  <input type="text" class="form-control" id="username" placeholder="Username" ng-model="vm.user.username"
                  required>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="password">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Password"
                  ng-model="vm.user.password" required>
                  <div class="help-block text-right">
                    <a href="">Forget your password?</a>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" ng-click="vm.login()" class="btn btn-primary btn-block">Sign in</button>
                </div>
                <!--  <div class="checkbox">
                  <label>
                    <input type="checkbox"> keep me logged-in
                  </label>
                </div> -->
              </form>
            </div>
            <div class="bottom text-center">
              We're sorry but new members are not being accepted
            </div>
          </li>
        </ul>
      </li>
      <li class="dropdown" ng-show="vm.isLoggedIn">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          <b>{{vm.user.username}}</b>
          <span class="caret"></span>
        </a>
        <ul class="username-dp dropdown-menu" role="menu">
          <li>
            <a ui-sref="userSettings({id: vm.user._id})">Settings</a>
          </li>
          <li>
            <a ng-click="vm.logout()">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="search-wrapper col-xs-12 col-lg-6" ng-include="'partials/searchBar.html'"></div>
  </div>
</div>
<div class="thin-navbar">
  <div class="container">
    <nav class="container-full">
      <ul class="nav navbar-left">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Centers
          </a>
          <ul class="centers-menu dropdown-menu" role="menu">
            <li>
              <a ui-sref="centers">Centers Home</a>
            </li>
            <li>
              <a ui-sref="dsgc">Data Signature Generation Centers</a>
            </li>
            <li>
              <a ui-sref="dcic">BD2K-LINCS Data Coordination and Integration Center</a>
            </li>
            <li>
              <a ui-sref="phaseOne">Pilot Phase 1 Centers</a>
            </li>
          </ul>
        </li>
        <li ng-show="!vm.isLoggedIn || vm.isLoggedInAdmin">
          <a ui-sref="releasesHome">Data</a>
        </li>
        <li class="dropdown" ng-show="vm.isLoggedIn && !vm.isLoggedInAdmin">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Data
          </a>
          <ul class="dropdown-menu" role="menu">
            <li ng-show="!vm.isLoggedInAdmin">
              <a ui-sref="releasesHome">Data Home</a>
            </li>
            <li ng-show="!vm.isLoggedInAdmin">
              <a ui-sref="releasesOverview({groupId: vm.user.group._id})">Your Data</a>
            </li>
            <li ng-show="!vm.isLoggedInAdmin">
              <a ui-sref="releasesCreate({id: ''})">Add New</a>
            </li>
          </ul>
        </li>
        <li>
          <a ui-sref="community">Community</a>
        </li>
        <li>
          <a ui-sref="publications">Publications</a>
        </li>
        <li>
          <a ui-sref="news">News</a>
        </li>
        <li ng-show="vm.isLoggedInAdmin">
          <a ui-sref="admin">Admin</a>
        </li>
      </ul>
      <!--<li>
                <h5 ng-show="!vm.isLoggedIn && showErr && vm.showFailMessage"
                    class="errorMsg">User/Password Incorrect.</h5>
              </li>-->
      </ul>
    </nav>
    <!-- <div class="col-xs-12 col-md-7" ng-show="!vm.isLoggedIn">
      <ul class="nav navbar-nav ul-nav-login">
        <li class="nav-login">
          <form name="loginForm" class="navbar-form pull-right">
            <div class="form-group">
              <input ng-focus="showErr=false" ng-blur="showErr=true" name="username" type="text"
              class="form-control" ng-model="vm.user.username" id="username" placeholder="Username">
            </div>
            <div id="password-group" class="form-group">
              <input ng-focus="showErr=false" ng-blur="showErr=true" name="password" type="password"
              class="form-control" id="password" ng-model="vm.user.password" placeholder="Password">
            </div>
            <button type="button" ng-click="vm.register()" class="btn pull-right register-btn">
              Register
            </button>
            <button type="submit" ng-click="vm.login()" class="btn pull-right login-btn">
              Login
            </button>
          </form>
        </li>
      </ul>
    </div> -->
  </div>
</div>
