@import '../base';
a#group-nav-icon {
  height: 13px;
  width: 19px;
  background: url('../images/group-icon.png') no-repeat left top;
  &:hover {
    background-position: -19px 0;
  }

}

.navbar-wrapper {
  background-color: blue;
  background: url('../images/bkg_header_top.jpg') repeat-x left top;
  border-bottom: 1px solid $color-primary-dark;

  a {
    color: white;
    &:focus {
      color: white;
    }
    &:hover {
      color: $color-secondary-light;
    }
    @media all and (max-width: 515px) {
      font-size: 12px;
    }
  }
}

.navbar-inner {}

#homeLink {
  @media all and (max-width: 515px) {
    display: none;
  }
}

#nih-logo {
  float: left;
  display: inline-block;
  background: url('../images/nih-logo-title.jpg') no-repeat center;
  background-size: contain;
  height: 104px;
  width: 373px;
  @media all and (max-width: 432px) {
    margin: 0 -30px;
  }
  @media all and (max-width: 360px) {
    height: 95px;
    width: 357px;
  }
  @media all and (max-width: 340px) {
    height: 84px;
    width: 317px;
  }
}

.login-info {
  margin: 10px 0 0 0;
  width: 400px;
  text-align: left;
  color: white;
  float: right;
  @media all and (max-width: 768px) {
    width: 100%;
  }
}

.user-wrapper {
  min-height: 60px;
}

.username {
  a {
    @media all and (max-width: 992px) {
      line-height: 0;
    }
  }
}

.ul-nav-login {
  text-align: center;
  float: right;
  @media all and (max-width: 768px) {
    float: none;
  }

  li {
    @media all and (max-width: 1200px) {
      float: none;
    }
  }
  a {
    color: white;
    margin: 0;
    line-height: 29px;
  }

  .form-group {
    @media all and (max-width: 767px) {
      width: 80%;
      float: left;
    }
  }
}

.user {
  margin-top: 10px;
}

.username-menu {
  a {
    color: inherit;
  }
}

.lp-nav {
  margin-top: 4px;
}

.dropdown-menu {
  li {
    width: 100%;
  }
}

.navbar-right {
  li {
    float: left;
    a {
      @media all and (max-width: 515px) {
        padding: 5px 8px;
      }
    }
  }
}

// .thin-navbar {
//   font-size: 14px;
//   font-weight: 600;
//   li {
//     float: left;
//     a {
//       color: $color-primary-dark;
//       padding: 0 15px;
//       font-size: 16px;
//       &:focus, &:hover {
//         color: $color-primary;
//         background: transparent;
//       }
//     }
//   }
// }
.top-nav-divider {
  width: 100%;
  height: 12px;
  background-color: $color-secondary;
  border-top: 1px solid $color-primary-dark;
  border-bottom: 1px solid $color-primary-dark;
}

.nav > li.dropdown.active.open > a,
.nav > li.dropdown.open > a,
.nav > li > a:hover,
.nav > li > a:focus {
  background: transparent;
}

.nav-login {
  form {
    margin: 0;
    padding: 0;
    @media all and (max-width: 768px) {
      float: none;
      width: 100%;
    }
  }
  input {
    height: 24px;
    margin-bottom: 3px;
    @media all and (max-width: 768px) {
      width: 100%;
    }
  }
}

.dropdown-menu {
  border-radius: 0;
}

.nav-items {
  display: inline-flex;
  margin-top: 5px;
  height: 100%;
  vertical-align: middle;
}

.title-bar {
  margin: 0 auto;
  vertical-align: middle;
}

li.errorMsg {
  display: inline-block;
  float: none;
  h5 {
    margin: 0;
    cursor: default;
    color: white;
  }
}

button.login-btn,
button.register-btn {
  height: 24px;
  padding: 0 6px;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  &:hover,
  &:focus {
    color: $color-secondary-light;
    text-decoration: none;
    border: 1px solid $color-secondary-light;
    border-radius: 5px;
  }

  @media (max-width: 767px) {
    width: 20%;
  }
}

#password-group {
  padding-right: 5px;
  @media all and (max-width: 768px) {
    padding-right: 0;
  }
}

.centers-menu {
  li {
    width: 100%;
  }
}
