<div class="navbar-wrapper">
  <div class="navbar-inner container">
    <a id="nih-title" ui-sref="home"></a>
    <!-- <div class="col-md-4 cube-wrapper">
      <div id="nih-cube" class="col-xs-12-col-md-4"></div>
    </div> -->
    <div class="search-wrapper col-xs-12 col-md-6" ng-include="'partials/searchBar.html'"></div>
    <div class="username-menu text-center">
      <a ui-sref="login" ng-show="!isLoggedIn"><!-- Sign up <span>or</span>  -->Log in</p>
      <p ng-show="isLoggedIn">{{currentUser.username}}</p>
      <a ng-show="isLoggedIn" ui-sref="userSettings({id: currentUser._id})" class="glyphicon glyphicon-cog"></a>
      <a ng-show="isLoggedIn && isAdmitted" ui-sref="groupHome({id: currentUser.group._id})" id="group-nav-icon" class="glyphicon"></a>
      <a ng-show="isLoggedIn" ng-click="logout()" class="glyphicon glyphicon-log-out"></a>
    </div>
  </div>
</div>
<div class="thin-navbar">
  <div class="container">
    <nav class="container-full">
      <ul class="nav navbar-left">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              Centers
            </a>
          <ul class="centers-menu dropdown-menu" role="menu">
            <li>
              <a ui-sref="centers">Centers Home</a>
            </li>
            <li>
              <a ui-sref="dsgc">Data Signature Generation Centers</a>
            </li>
            <li>
              <a ui-sref="dcic">BD2K-LINCS Data Coordination and Integration Center</a>
            </li>
            <li>
              <a ui-sref="phaseOne">Pilot Phase 1 Centers</a>
            </li>
          </ul>
        </li>
        <li ng-show="!vm.isLoggedIn || vm.isLoggedInAdmin">
          <a ui-sref="releasesHome">Data</a>
        </li>
        <li class="dropdown" ng-show="vm.isLoggedIn && !vm.isLoggedInAdmin">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              Data
            </a>
          <ul class="dropdown-menu" role="menu">
            <li ng-show="!vm.isLoggedInAdmin">
              <a ui-sref="releasesHome">Data Home</a>
            </li>
            <li ng-show="!vm.isLoggedInAdmin">
              <a ui-sref="releasesOverview">Your Data</a>
            </li>
            <li ng-show="!vm.isLoggedInAdmin">
              <a ui-sref="releasesCreate({id: ''})">Add New</a>
            </li>
          </ul>
        </li>
        <li>
          <a ui-sref="community">Community</a>
        </li>
        <li>
          <a ui-sref="publications">Publications</a>
        </li>
        <li>
          <a ui-sref="news">News</a>
        </li>
        <li ng-show="vm.isLoggedInAdmin">
          <a ui-sref="admin">Admin</a>
        </li>
      </ul>
      <!--<li>
                <h5 ng-show="!vm.isLoggedIn && showErr && vm.showFailMessage"
                    class="errorMsg">User/Password Incorrect.</h5>
              </li>-->
      </ul>
    </nav>
    <div class="col-xs-12 col-md-7" ng-show="!vm.isLoggedIn">
      <ul class="nav navbar-nav ul-nav-login">
        <li class="nav-login">
          <form name="loginForm" class="navbar-form pull-right">
            <div class="form-group">
              <input ng-focus="showErr=false" ng-blur="showErr=true" name="username" type="text"
              class="form-control" ng-model="vm.user.username" id="username" placeholder="Username">
            </div>
            <div id="password-group" class="form-group">
              <input ng-focus="showErr=false" ng-blur="showErr=true" name="password" type="password"
              class="form-control" id="password" ng-model="vm.user.password" placeholder="Password">
            </div>
            <!-- <button type="button" ng-click="vm.register()" class="btn pull-right register-btn">
              Register
            </button> -->
            <button type="submit" ng-click="vm.login()" class="btn pull-right login-btn">
              Login
            </button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</div>
