$color-primary: #6A9CCD;
$color-primary-light: #BBD1E8;
$color-primary-dark: #3A5278;
$color-secondary: #CC9;
$color-secondary-light: #F1F1E2;
$color-blue-gray: #394648;
$color-green: #69995D;
$color-purple: #6b7891;
$color-purple-dark: #2b3d62;
$color-red: #D05353;
$color-red-dark: #942E02;
$color-yellow: #DFB532;
$color-yellow-dark: #947002;
$color-yellow-light: #FFE186;
$color-yellow-superlight: #FFF6DA;
$color-gray: #aaa;
$color-gray-light: #eee;
$color-gray-charcoal: #222;
$color-approved: rgba(167, 181, 214, 0.46);
$color-approved-hover: rgba(167, 181, 214, 0.8);
$color-selected: #88A9EF;
$color-released: rgba(169, 214, 167, 0.46);
$color-released-hover: rgba(169, 214, 167, 0.8);
$color-needs-edit: rgba(214, 167, 167, 0.46);
$color-needs-edit-hover: rgba(214, 167, 167, 0.8);
$color-awaiting-approval: rgba(212, 214, 167, 0.46);
$color-awaiting-approval-hover: rgba(212, 214, 167, 0.8);

$font-family-base: arial, sans-serif;
$font-family-primary: "Helvetica Neue",Helvetica,Arial,sans-serif;
