@import 'base';

html,
body {
  height: 100%;
  font-family: $font-family-primary;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #ffffff;
}

a {
  color: $color-primary;
  font-weight: 600;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-primary;
  font-weight: 600;
}

#wrapper {
  margin: 0 auto -400px; /* footer height + space */
  min-height: 100%;
  padding: 0 0 400px; /* footer height + space */
  position: relative;

  #content {
    height: 100%;
  }
}

.pointer, .nav, .dropdown-menu > li > a {
  cursor: pointer;
}

.btn-danger {
  background-color: #b82c28;
  border-color: #67201e;
}

.export {
  margin-top: 20px;
}

#large-banner {
  background: url('../images/NIH-banner.jpg') no-repeat center;
  height: 245px;
  border-bottom: 1px solid #ddd;

  @media all and (max-width: 1200px) {
    background: url('../images/NIH-banner-sm.jpg') no-repeat center;
    height: 59px;
  }
}

#small-banner {
  background: url('../images/NIH-banner-sm.jpg') no-repeat center;
  height: 59px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 3px;
  height: 5px;
  background-color: $color-primary-dark;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.modal-content {
  border-radius: 0;
}

.release-details {
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
}

.assay-title {
  margin: 20px 0;
}

.info-release-lvl {
  text-transform: capitalize;
}

.release-table {
  width: 95%;
  margin: 0 auto;
}

#create-group-tag {
  margin-left: 12px;
}

span.stat-num {
  color: $color-primary-dark;
}

.highlight {
  color: $color-red;
}

.highlight-primary {
  color: $color-primary-dark;
}

.highlight-primary-light {
  color: $color-primary;
}

.highlight-secondary {
  color: $color-secondary;
}
