<h3 class="text-center">Create Group</h3>
<em class="col-sm-12 highlight text-center">* Required</em>
<form name="groupForm" class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2"
      ng-submit="groupForm.$valid && vm.createGroup()" novalidate>
    <div class="form-group">
        <label for="groupName">Group Name*</label>

        <p class="text-muted">
            Must be at least 5 characters long.
        </p>
        <input id="groupName" name="groupName" type="text" ng-minlength="5"
               ng-model="vm.group.name" class="form-control" ng-trim="false"
               ng-model-options="{ updateOn: 'blur' }" group-name-available
               required/>

        <div ng-show="groupForm.$submitted || groupForm.groupName.$touched">
            <span class="help-inline"
                  data-ng-show='groupForm.groupName.$pending.groupName'
                  data-ng-class="strong">
                Checking availability...
            </span>
            <span class="help-inline error-msg"
                  data-ng-show='groupForm.groupName.$error.groupName'
                  data-ng-class="medium">
                Group name taken. Please try another.
            </span>
            <span class="help-inline error-msg"
                  ng-show="groupForm.groupName.$error.minlength">
                Please enter a Group name at least 5 characters long.
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" name="email" type="email" ng-model="vm.group.email"
               class="form-control" ng-model-options="{ updateOn: 'blur' }" />
        <span class="help-inline error-msg"
              data-ng-show='groupForm.email.$pending.email'
              data-ng-class="strong">
            Validating...
        </span>
        <span class="help-inline error-msg"
              data-ng-show='groupForm.email.$error.email'
              data-ng-class="medium">
            Email is invalid.
        </span>
    </div>
    <div class="form-group">
        <label for="location">Location</label>
        <input id="location" type="text"
               ng-model="vm.group.location" class="form-control">
    </div>
    <div class="form-group">
        <label for="homepage">Homepage</label>
        <input id="homepage" type="text"
               ng-model="vm.group.homepage" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="description">About</label>
        <textarea id="description" type="text"
               ng-model="vm.group.about" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <br>
        <input class="btn btn-success" type="submit" value="Create"/>
        <input class="btn btn-danger" type="button"
               ng-click="vm.reset(groupForm)" value="Reset"/>
    </div>
</form>
