<div class="col-sm-6">
    <h5>
        {{title}}<span ng-if="isRequired">*</span>
    </h5>
    <tags-input
        ng-model="ngModel"
        allow-leftover-text="false"
        lm-enforce-max-tags
        max-tags="{{maxTags}}"
        placeholder="{{placeholder}}"
        add-from-autocomplete-only="true"
        replace-spaces-with-dashes="false"
        on-tag-adding="addNew($tag);">
        <auto-complete source="autocompleteSource($query, autocompleteEndpoint)"></auto-complete>
    </tags-input>
</div>
