<h3 class="text-center">Change Password</h3>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form name="passwordForm">
            <div class="form-group">
                <label for="passwordOld">Old Password</label>
                <input id="passwordOld" type="text" name="passwordOld" class="form-control" ng-model="vm.passwords.old"/>
            </div>
            <div class="form-group">
                <label for="passwordNew">New Password</label>
                <input id="passwordNew" type="text" name="passwordNew" class="form-control" ng-model="vm.passwords.new"
                       password-strength="passwords.new"/>
                <span class="help-inline"
                      data-ng-show='passwordForm.passwordNew.$dirty && passwordIsValid'
                      data-ng-class="strong">Password is valid!</span>
                <span class="help-inline"
                      data-ng-show='passwordForm.passwordNew.$dirty && !passwordIsValid'
                      data-ng-class="medium">Password invalid!</span>
            </div>
            <div class="form-group">
                <label for="passwordConfirm">Confirm New Password</label>
                <input id="passwordConfirm" type="text" name="passwordConfirm" class="form-control"
                       ng-model="vm.passwords.confirm"
                       required compare-password-to="passwords.new"/>
                <span data-ng-show="passwordForm.passwordConfirm.$error.comparePasswordTo">Passwords do not match!</span>
            </div>
            <!--Disable button if any inputs are pristine, password is not valid, or if passwords do not match-->
            <button class="btn btn-success" type="button"
                    ng-disabled="passwordForm.passwordOld.$pristine || passwordForm.passwordNew.$pristine ||
                    passwordForm.passwordConfirm.$pristine || !passwordIsValid ||
                    passwordForm.passwordConfirm.$error.comparePasswordTo"
                    ng-click="changePassword()">Change Password</button>
        </form>
    </div>
</div>