html {
  height: 100%;
  font-family: arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
body {
  height: 100%;
  font-family: arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
}
a {
  color: #286090;
}
#wrap {
  background-color: #ffffff;
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -60px;
}
.pointer,
.nav,
.dropdown-menu > li > a {
  cursor: pointer;
}
.btn-danger {
  background-color: #b82c28;
  border-color: #67201e;
}
.navbar-wrapper {
  background-color: #286090;
  padding: 5px 15px 0px 15px;
}
nav a {
  color: white;
}
nav a:focus {
  color: white;
}
nav a:hover {
  color: #8ABDE8;
}
nav h1 {
  margin: 0;
}
nav h1 a {
  font-size: 29px;
}
nav h1 a:hover,
nav h1 a:focus {
  text-decoration: none;
}
.nav > li > a:focus,
.nav > li > a:hover {
  background: #286090;
}
.dropdown-menu {
  border-radius: 0;
}
.nav > li.dropdown.active.open > a,
.nav > li.dropdown.open > a {
  background: #286090;
  border-color: white;
}
.nav-items {
  display: inline-flex;
  margin-top: 5px;
  height: 100%;
  vertical-align: middle;
}
.title-bar {
  margin: 0 auto;
  vertical-align: middle;
}
.hello {
  margin: 0;
  padding: 15px 15px;
  line-height: 1.42857143;
  cursor: default;
  color: #d5d5e5;
}
#page {
  margin-top: 20px;
}
.content {
  margin: 20px auto;
}
.ml-view {
  font-family: Roboto, sans-serif;
  margin: 0 90px;
}
#password-group {
  padding-right: 5px;
}
.tabs-left > .nav-tabs {
  border-bottom: 0;
  float: left;
  margin-right: 19px;
  border-right: 1px solid #dddddd;
}
.tabs-left > .nav-tabs > li {
  float: none;
}
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}
.tabs-left > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: -1px;
  margin-bottom: 3px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #dddddd transparent #dddddd #dddddd;
  *border-right-color: #ffffff;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}
.tab-content {
  min-width: 75%;
  float: left;
}
.docent {
  width: 100%;
}
.tab-pane-data {
  display: inline-block;
}
#metadataForm section {
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;
}
.form-table-head,
.form-table-data {
  border-bottom: 1px solid #cccccc;
}
.form-table-item {
  padding: 2px 5px;
}
.form-info-block {
  float: right;
  margin-top: 120px;
  width: 45%;
}
.form-block {
  padding-top: 40px;
}
.form-select {
  cursor: default;
  width: 90%;
}
button#form-reset {
  float: left;
}
button#form-submit {
  margin-left: 10px;
}
a#clear-btn {
  top: 2px;
}
a.add-new-btn {
  color: black;
}
a#add-new-btn-paragraph,
a.clear-btn {
  color: black;
}
a.add-new-btn:hover,
a.clear-btn:hover {
  text-decoration: none;
  color: gray;
}
a#add-new-btn-paragraph:hover {
  text-decoration: none;
  color: black;
  cursor: text;
}
p.input-group {
  margin: 14px 0;
}
.form-center {
  width: 100%;
  margin-top: 0;
}
.form-title {
  margin-top: 20px;
  float: left;
}
.form-count {
  width: 45%;
  margin-top: 20px;
  float: left;
  text-align: right;
}
.form-date {
  width: 90%;
  display: inline-block;
}
.post-button {
  float: left;
  text-align: right;
  width: 90%;
}
tags-input .tags {
  width: 100% !important;
  box-shadow: 0 0 0 0;
}
tags-input .autocomplete .suggestion-item.selected,
tags-input .autocomplete .suggestion-item.selected em {
  color: #fff;
  background-color: #286090;
}
tags-input .tags .tag-item {
  background: #f1f1f1;
}
tags-input .tags .tag-item .remove-button {
  text-decoration: none;
}
input.experiment {
  width: 100% !important;
  height: 34px;
  border: 1px solid #a9a9a9;
  outline: 0;
  padding: 0 0 0 5px;
  float: left;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input.experiment:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
  -moz-box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
  box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
}
.meta-data {
  display: inline-block;
  width: 100%;
}
table.meta-data-table {
  width: 90%;
  float: right;
  cursor: default;
}
h4.meta-header {
  margin-top: 40px;
}
#push {
  margin-top: 60px;
  height: 140px;
  background-color: white;
}
#footer {
  height: 60px;
  border-top: 1px solid #eeeeee;
  border-radius: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #f5f5f5));
}
.credit {
  margin: 20px 0;
}
