<div class="container">
  <div class="row">
    <div class="left-nav col-xs-3">
      <ul>
        <li>
          <a ui-sref="fundingOpps">Funding Opportunities</a>
        </li>
        <li>
          <a ui-sref="consortiumMeetings">LINCS Consortium Meetings</a>
        </li>
        <li>
          <strong class="highlight-secondary">Webinars</strong>
        </li>
        <li>
          <a ui-sref="workshops">Workshops and Symposia</a>
        </li>
      </ul>
      <div class="left-nav-btns text-center">
        <button class="btn btn-primary left-nav-btn">Data Releases</button>
        <button class="btn btn-primary left-nav-btn">Tools and Databases</button>
      </div>
    </div>
    <div class="subpage-content col-xs-12 col-sm-9">
      <h2 class="headline-info page-header highlight-primary">
        Webinars
      </h2>
      <div class="row">
        <div class="col-xs-12">
          <h3 class="phase-header highlight-secondary">
            LINCS Data Science Research (DSR) Webinars
          </h3>
          <p>
            The LINCS Data Science Research Webinars serve as a general forum to engage data
            scientists within and outside of the LINCS project to work on problems
            related to LINCS data analysis and integration.
          </p>
          <p>
            <strong>
              Webinars are held on select Tuesdays at 3:00 PM Eastern Time
            </strong>
          </p>
          <h4>How to Connect with GoToMeeting</h4>
          <ul>
            <li>
              <p>
                Please join from your computer, tablet or smartphone:
                <a href="https://global.gotomeeting.com/join/168894253">https://global.gotomeeting.com/join/168894253</a>
              </p>
            </li>
            <li>
              <p>
                Use your microphone and speakers (VOIP) for audio. You’ll sound best with a headset.
                You can also call in using your telephone: United States (Long distance):
                +1 (312) 757-3121
              </p>
            </li>
            <li>
              <p>
                Access Code: 168-894-253
              </p>
            </li>
            <li>
              <p>
                Audio PIN: Shown after joining the session
              </p>
            </li>
          </ul>
          <p>
            For the summary information about LINCS Data Science Webinars, please visit
            <a href="http://lincs-dcic.org/#/webinars">http://lincs-dcic.org/#/webinars</a>
          </p>
          <p>
            For detailed information including the Discussion Group, please visit the wiki at
            <a href="https://sites.google.com/site/bd2klincsdatascience">https://sites.google.com/site/bd2klincsdatascience</a>
          </p>
          <div class="upcoming-webinars">
            <h4>Upcoming Webinars</h4>
            <div class="webinar" ng-repeat="webinar in vm.upcomingWebinars">
              <a ng-if="!webinar.url">
                <h5>{{webinar.title}}</h5>
              </a>
              <a ng-if="webinar.url" ng-href="{{webinar.url}}" target="_blank">
                <h5>{{webinar.title}}</h5>
              </a>
              <p><strong>{{webinar.date | date: 'MMMM d, yyyy'}}</strong></p>
              <p class="webinar-presenter">
                <span>{{webinar.presenter.name}}</span>
                <br />
                <span>{{webinar.presenter.affiliation}}</span>
              </p>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-8 col-xs-offset-2">
              <div class="dcic-youtube embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PL0Bwuj8819U-G9Ob0jIGHp5AtwpCghLV5"></iframe>
              </div>
            </div>
          </div>
          <div class="past-webinars">
            <h4>Past Webinars</h4>
            <div class="webinar" ng-repeat="webinar in vm.pastWebinars">
              <a ng-if="!webinar.url">
                <h5>{{webinar.title}}</h5>
              </a>
              <a ng-if="webinar.url" ng-href="{{webinar.url}}" target="_blank">
                <h5>{{webinar.title}}</h5>
              </a>
              <p><strong>{{webinar.date | date: 'MMMM d, yyyy'}}</strong></p>
              <p class="webinar-presenter">
                <span>{{webinar.presenter.name}}</span>
                <br />
                <span>{{webinar.presenter.affiliation}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
