<div class="col-sm-12">
  <h4 class="text-center assay-title">
    {{rel.datasetName}}
  </h4>
  <p class="col-sm-12">{{rel.description}}</p>
  <div class="col-sm-12">
    <h5>Cell Lines</h5>
    <ul class="list-inline">
      <li ng-repeat="line in rel.metadata.cellLines">
        {{line.name}}
      </li>
      <li ng-if="rel.metadata.cellLines.length === 0">
        Cell Free
      </li>
    </ul>
  </div>
  <div class="col-sm-12">
    <h5>Perturbagens</h5>
    <ul class="list-inline">
      <li ng-repeat="pert in rel.metadata.perturbagens">
        {{pert.name}}
      </li>
    </ul>
  </div>
  <div class="col-sm-12">
    <h5>Readouts</h5>
    <ul class="list-inline">
      <li ng-repeat="rOut in rel.metadata.readouts">
        {{rOut.name}}
      </li>
    </ul>
  </div>
  <div class="col-sm-12">
    <h5>Release Dates</h5>
    <ul class="list-inline">
      <li ng-if="!!rel.releaseDates.level1">
        <strong class="info-release-lvl">
          level1:
        </strong>
        {{rel.releaseDates.level1 | date:'MM-dd-yyyy'}}
      </li>
      <li ng-if="!!rel.releaseDates.level2">
        <strong class="info-release-lvl">
          level2:
        </strong>
        {{rel.releaseDates.level2 | date:'MM-dd-yyyy'}}
      </li>
      <li ng-if="!!rel.releaseDates.level3">
        <strong class="info-release-lvl">
          level3:
        </strong>
        {{rel.releaseDates.level3 | date:'MM-dd-yyyy'}}
      </li>
      <li ng-if="!!rel.releaseDates.level4">
        <strong class="info-release-lvl">
          level4:
        </strong>
        {{rel.releaseDates.level4 | date:'MM-dd-yyyy'}}
      </li>
    </ul>
  </div>
  <div class="col-sm-12">
    <h5>URLs</h5>
    <ul class="list-inline">
      <li ng-repeat="(label,url) in rel.urls" ng-if="url !== ''">
        <strong class="info-release-lvl">
          {{label}}:
        </strong>
        <a ng-href={{url}}>{{url}}</a>
      </li>
    </ul>
  </div>
</div>
